:root {
    /* colors */
  /*primary color*/
  --clr-primary-1: hsl(205, 86%, 16%);
  --clr-primary-2: hsl(205, 75%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 86%, 68%);
  --clr-primary-7: hsl(205, 83%, 75%);
  --clr-primary-8: hsl(205, 80%, 80%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey*/
  --clr-grey-1: hsl(203, 9%, 18%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* dark grey */
  --clr-grey-background: hsl(211, 39%, 23%, 0.5);
  /* grey */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: rgb(179, 34, 34);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 42%);
  --clr-green-light: hsl(125, 72%, 67%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  /* other variables */
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(151, 147, 147, 0.26);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
$medium: 900px;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: var(--clr-grey-1);
    color: var(--clr-white);
    transition: all .3s ease-in-out;
    font-size: 1.3rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--clr-white);
    overflow: hidden;
    padding: 0 !important;
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    .header-left {
        display: flex;
        align-items: center;
        position: relative;
        .h-shape {
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--clr-primary-4);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 40% 0, 100% 100%, 0% 100%);
        }
        .image {
            border-radius: 20px;
            height: 70%;
            width: 55%;
            margin-left: 4rem;
            background-color: var(--clr-black);
            transition: all .4s ease-in-out;
            img {
                width: 100%;
                height: 90%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
            }
        }
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 12rem;
        .name {
            font-size: 3rem;
            span { 
                color: var(--clr-primary-4);
            }
        }
        p {
            margin: 2rem 0;
            line-height: 2rem;
        }
    }
}

//about-me

.about-me-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
    @media screen and (max-width: 1000px) {
    display: block;
  }
    // width: 90vw;
.about-me-right {
        .hero-image {
            position: relative;
            width: 50%;
            height: 350px;
            display: block;
            animation: flip 1s linear reverse;
            @keyframes flip {
  0% {
            transform: scale(1) rotateX(0);
  }
  50% {
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
            transform: scale(1) rotateX(-180deg);
  }
}
           @media screen and (max-width: 1000px) {
    display: none;
  }
        }
    }

    .about-me-left {
        padding-right: 4rem;
        text-align: justify;
        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--clr-white);
            @media screen and (max-width: 768px) {
                line-height: 1.5rem;
                font-size: 1.2rem;
             }
            @media screen and (max-width: 425px) {
                line-height: 1.3rem;
                font-size: 1.1rem;
             }
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}


//cubes
.cube {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  transform: skewY(-45deg);
  left: -15px;
  bottom: -8px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  transform: skewX(-45deg);
  left: -8px;
  bottom: -15px;
}


#html {
  left: 40px;
  bottom: 170px;
  background-image: url("/img/html-square.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -40px 40px 20px rgba(241, 236, 236, 0.445);
}

#html:before {
  background-color: rgb(189, 154, 221);
}

#html:after {
  background-color: rgb(205, 188, 221);
}

#css {
  left: 170px;
  bottom: 270px;
  background-image: url('/img/css-square.png');
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -40px 40px 20px rgba(241, 236, 236, 0.445);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#javascript {
  left: 300px;
  bottom: 170px;
  background-image: url("/img/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgba(241, 236, 236, 0.445);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}


#react {
  left: 170px;
  bottom: 60px;
  background-image: url("/img/react-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -40px 40px 20px rgba(241, 236, 236, 0.445);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}


// skills

.about-skills {
    padding-bottom: 4rem;
    .progress-bars {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        @media screen and (max-width: 1000px) {
        width: 90%;
     }
        @media screen and (max-width: 600px) {
        gap: 1.4rem;
        }
        .progress-bar {
                text-transform: uppercase;
                font-weight: 500;
                background-color: var(--clr-grey-4);
                padding: 0.5rem 0.7rem;
                @media screen and (max-width: 650px) {
                font-size: 1.2rem;
             }
            }
            
        }
    }

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: left;
    padding: 3.5rem 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 20%;
        top: 80px;
        width: 40%;
        height: 1px;
        background-color: var(--clr-grey-5);
        transform: translateX(-50%);
    }
}


section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 5rem;
    @media screen and (max-width: 768px) {
                padding: 2rem 3rem;
             }
    
}

.section {
    transform: translateY(-100%);
    background-color: var(--clr-primary-1);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scale .8s ease-in-out;
    @keyframes scale {
        0%{
            transform: translateY(-100%) scaleY(0); 
        }
        100%{
            transform: translateY(0) scaleY(1)
        }
        
    }
}

// controlls

.controlls {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    z-index: 1;
    top: 50%;
    right: 3%;
}
.control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--clr-grey-3);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--light-shadow) ;
     i {
            font-size: 1.2rem;
            color: var(--clr-grey-2);
            pointer-events: none;
        }}
    .active-btn {
        background-color: var(--clr-grey-4);
        transition: all .4s ease-in-out;
        i { color: var(--clr-white); }
    }




/*other components*/
.btn-container {
    display: flex;
    align-self: flex-start;
}
.main-btn {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    border: 1px solid var(--clr-green-dark);
    overflow: hidden;
    .btn-text { padding: 0 2rem; }
    .btn-icon {
        background-color: var(--clr-green-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover {
        transition: all .4s ease-out;
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--clr-green-dark);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }}

    .main-title {
    text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span { color: var(--clr-primary-4); }
    }
}

